{% extends "please_website_app/base_site.html" %}

{% block title %} Devenir City Manager {% endblock title %}

{% block content %}

    <main id="main">

        <section id="form" class="padding-bottom-100">
            <div class="container align-center">
                <h1>Devenez City Manager Please</h1>
                <h3>Pour devenir City Manager c'est simple : vous vous inscrivez en quelques secondes, vous accédez à votre espace candidat et un membre de notre équipe vous recontactera pour planifier ensemble un rendez-vous.</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <form method="POST">
                                <div class="form-group">
                                    {% csrf_token %}
                                    {{ form_cm.as_p }}
                                </div>
                                <button type="submit">S'inscrire et accéder à l'espace candidat</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}