{% extends "please_website_app/base_site.html" %}
{% block head %}
<!-- Event snippet for B2B - Inscription City Manager conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-830537670/I4cBCNKsvp8BEMb_g4wD'});
</script>
{% endblock head %}

{% block title %} Bravo ! {% endblock title %}

{% block content %}

    <section id="intro">
        <div class="intro-content bckg-blue-400 padding-bottom-50 padding-top-50">
            <h1>Merci nous avons bien pris en compte votre inscription et nous allons vous recontacter dans les 48h !</h1>
            <h2 style="color: #ffffff; max-width: 80%">Afin de mieux comprendre votre projet, vous pouvez dès à présent nous en dire plus sur votre Espace Candidat</h2>
            <div class="padding-bottom-50">
                <a href="/app" class="primary-btn">Continuer</a>
            </div>
        </div>
    </section>

{% endblock content %}